@page "/"

<PageTitle>UniSample - Startseite</PageTitle>

<h1>Hallo Welt!</h1>

<h2>Willkommen zur UniSample App</h2>

<p>In dieser Beispiel-Anwendung wird der Aufbau eines verteilten Systems an einer vereinfachten Demo-Implementierung gezeigt.</p>
<p>Folgende Punkte sind hier implementiert:
    <ul>
        <li>Single Page Application mit Blazor WebAssembly</li>
        <li>WebAPIs mit REST</li>
        <li>Dokumentation der WebAPIs mit OpenAPI/Swagger</li>
        <li>Generierung von API Clients mit NSwag</li>
        <li>Authentifizierung über einen externen OIDC Identity Server</li>
        <li>Aufruf von APIs mit Übergebe des Tokens</li>
        <li>Getrennte Services im Backend</li>
        <li>Services in Docker Containern</li>
        <li>Orchestrierung der Container in Docker Compose zur Entwicklung</li>
        <li>Orchestrierung der Container in Kubernetes für die Produktion</li>
    </ul>
</p>